body {
	height: 100vh;
	/* font-family: 'Roboto'; */
	font-family: 'arial', cursive;
	font-size: 15px;
	font-weight: 100;
}

#layout-menu {
	float: left;
	height: 100%;
	width: 100px;
	padding: 10px;
}

#layout-main {
	height: 100%;
}

#layout-output {
	display: flex;
	flex-direction: row;
}

ol {
	list-style-type: decimal;
	padding: 20px;
}
li {
	margin: 10px; 
}
