
body {
    margin: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  div.wrapper {
    width: 960px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }
  
  header, footer {
    display: flex;
    background-color: slategray;
  }
  
  header {
    display: flex;
    background-color: slategray;
  }
  
  nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  
  nav a {
    width: 100%;
    text-align: center;
  }
  
  main {
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  
  section.blade {
    margin: 1rem auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
  }
  
  section.blade.hero {
    width: 100%;
    margin-top: 0;
    position: relative;
  }
  
  .hero-text {
    height: 12rem;
    position: absolute;
    background-color: grey;
    color: black;
    top: 25%; 
    left: 25%; 
    right: 25%;
  }
  
  .hero-text h1 {
    font-size: 3rem;
    margin: 2rem 0;
    text-align: center;
  }
  
  .hero-text p {
    text-align: center;
  }
  
  section.two-feature img {
    width: 50%;
    float: left;
    padding-right: 1rem;
  }
  
  section.two-feature div {
    width: 50%;
    float: right;
    padding-left: 1rem;
  }
  
  section.two-feature h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  section.two-feature p {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;
  }
  
  .button {
    display: block;
    width: 8rem;
    text-align: center;
    background-color: gray;
    padding: 1.25rem 3rem;
    border-radius: 1rem;
    text-decoration: none;
  }
  
  footer p {
    text-align: center;
    width: 100%;
    margin: 5rem 0;
  }

  td {
    border: 5px solid #212121;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    text-align: center;
    background-color: blanchedalmond;
}

th {
    border: 5px solid #212121;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    text-align: center;
    background-color: blanchedalmond;
}